<div id="About" class="pageId">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h1>About IUI Lab</h1>
				<p>Welcome to IUI Lab!!</p>
				<img src="http://www.lonocreative.com/blog/wp-content/uploads/2013/07/obey-giant-22-obama-hope.jpg" alt="">
			</div>
		</div>
	</div>
</div>