

<div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="pageTitle">Projects</h1>
                <div class="sepNone"></div>
                <div class="col-md-6 lightGreyBg item"></div>
            </div>
        </div>
</div>
